.lista-atividades {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 70%;
  gap: 8px;

  margin: 16px auto;
}

#pendentes,.Pendente .container-atividade {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.abas-atividades { 
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 8px 0;
  justify-content: center;
}

.abas-atividades .aba-btn {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  

  border: 1px solid #043565;
  background-color: #043565;
}

.container-atividade {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  width: 100%;
  
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #043565;
  background-color: #fff;
}
.container-atividade:hover {
  background-color: #D6E9FB;
  transition: 0.5s;
}

.container-atividade .texto-laranja {
  color: #FF9432;
}

.container-atividade strong {
  color: #043565;
  font-weight: 600;
  font-size: 1rem;
}

.container-atividade span {
  font-size: 1rem;
  font-weight: 600;
  color: #043565;
}
.legenda-lista-atividades {
  display: flex;
  width: 100%;
  padding: 0 8px;
  justify-content: space-between;
  align-items: flex-end;
}

.legenda-lista-atividades .legenda {
  display: flex;
  align-items: center;
  max-width: 6rem;
}
.legenda-lista-atividades .legenda:last-child {
  text-align: right;
}
#pendentes {
  display: none;
}
#pendentes .legenda-lista-atividades .legenda:last-child {
  margin-right: 42px;
}
