.lista-atividades {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 70%;
  gap: 8px;

  margin: 16px auto;
}

.atividade-pendente .container-atividade {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.abas-atividades { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  margin: 16px auto;
  height: 60px;
  line-height: 60px;
  width: 27rem;
  border-bottom: .5px solid #043565;
}
.abas-atividades .aba.ativo {
  color: #FF9432;
  border-bottom: 4px solid #FF9432;
  bottom: 0;
  transition: .3s ease;
  border-radius: 1px;
}
.abas-atividades .aba {
  
  display: inline-block;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  
  background-color: transparent;
  border: none;
  color: #043565;
  cursor: pointer;
  width: 9rem;
  transition: .3s ease;
}

.abas-atividades .aba:hover {
  color: #FF9432;
  transition: .3s ease;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  

  border: 1px solid #043565;
  background-color: #043565;
}

.container-atividade {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  width: 100%;
  
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #043565;
  background-color: #fff;
}
.container-atividade:hover {
  background-color: #D6E9FB;
  transition: 0.5s;
}

.container-atividade .texto-laranja {
  color: #FF9432;
}

.container-atividade .texto-vermelho {
  color: #de3e3e;
}

.container-atividade strong {
  color: #043565;
  font-weight: 700;
  font-size: 1rem;
}
.container-atividade span {
  font-size: 1rem;
  font-weight: 600;
  color: #043565;
}
span.texto-reprovada, strong.texto-reprovada {
  color: #de3e3e;
}
.legenda-lista-atividades {
  display: flex;
  width: 100%;
  padding: 0 8px;
  justify-content: space-between;
  align-items: flex-end;
}

.legenda-lista-atividades .legenda {
  display: flex;
  align-items: center;
  max-width: 6rem;
}
.legenda-lista-atividades .legenda:last-child {
  text-align: right;
}
#pendentes, #reprovadas {
  display: none;
}
.lista-nao-aprovadas .legenda-lista-atividades .legenda:last-child {
  margin-right: 42px;
}

