.detalhes-container {
  display: flex;
  flex-direction: column;

  min-width: 30rem;
  max-width: 80%;
  margin: 16px auto;
  gap: 8px;

}

.campo input, textarea, .anexo {
  resize: vertical;
  background-color: #fff;
  border: 1px solid #476988;
  border-radius: 8px;

  padding: 16px;
}

.row, .gap-8 {
  gap: 8px;
}
.row .column {
  width: 100%;
  
}

.status {
  margin: 8px auto;
  text-align: center;
}

.aprovado span {
  font-weight: 700;
  color: #043565;
}
.pendente span {
  font-weight: 700;
  color: #FF9432;
}
.reprovado span {
  font-weight: 700;
  color: #de3e3e;
}
.aviso {
  color: #de3e3e;
  font-size: 14px;
}
.btn {
  min-width: 10rem;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}
.btn-row .btn{
  width: 100%;
}
.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.vermelho {
  background-color: #de3e3e;
}
.azul {
  background-color: #043565;
}
.laranja {
  background-color: #FF9432;
}

.laranja:hover {
  background-color: #e87f1c;
}

.vermelho:hover {
  background-color: #c22d2d;
}

.center {
  margin: 0 auto;
}