.form-container {
  align-items: center;
  margin: 16px auto;
  min-width: 400px;
  max-width: 70%;
}

.form-container input, textarea {
  resize: none;
  min-width: 14rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 0.5px solid #476988;

  font-size: 16px;
  color: #043565;
}

.form-container label {
  color: #476988;
  margin-top: 16px;
}

.column{
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 1rem;
  width: 12rem;

  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.enviar {
  background-color: #499367;
}
.enviar:hover {
  background-color: #387550;
  transition: .4s;
}
.editar {
  background-color: #ff9432;
}
.editar:hover {
  background-color: #e87f1c;
  transition: .4s;
}
.enviar-container {
  margin: 16px auto;
  width: 400px;
  gap: 16px;

  text-align: center;
  align-items: center;
}

.enviar-container strong {
  font-size: 14px;
}
/* input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 0.5px solid #476988;
  border-radius: 8px;
  
  min-width: 14rem;
  max-width: 100%;
  padding: 1rem;
  font-size: 16px;
  color: #043565;

  display: inline-block;
  cursor: pointer;
} */

#anexo {
  cursor: pointer;
}

.row-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.row-label span {
  visibility: hidden;
  color: #de3e3e;
  font-weight: 500;
  margin-right: 8px;
}