* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #F7FBFF;
  color: #001D39;
}

body, input, textarea, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.full {
  width: 100%;
}
.text-center {
  text-align: center;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  margin: 0 32px;
  gap: 8px;
  margin-left: 158px;
}

.breadcrumb a {
  color: #043565;
  text-decoration: underline;
}
.invalido input, textarea{
  border: 2px solid #de3e3e !important;
}

.invalido .row-label span {
  visibility: visible;
}

.breadcrumb a:hover {
opacity: 0.7;}

#preloader {
  background: #F7FBFF url(../assets/preloader.gif) no-repeat center center;
  opacity: 0.8;
  background-size: 128px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* FLASH MESSAGES */
/* center flash message */
.flash_message{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.warning, .danger, .success, .secondary{
  color: #F7FBFF;
  font-weight: 600;
  text-align: center;
  
  margin: 8px 0;
  border-radius: 12px;
  padding: 12px;
  align-items: center;

  width: 100%;
}

.warning {
  background-color: #FF9432;
}
.danger {
  background-color: #de3e3e;
}
.success {
  background-color: #499367;
}
.secondary {
  background-color: #aaa;
  color: black;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;

  height: 100%;
  width: 20rem;
  color: #fff;
  background-color: #043565;
}
.user-data {
  margin-top: 16px;
}

.user-info {
  padding: 16px;
  text-align: left;
  margin: 16px 0;
}
.info-container {
  margin-bottom: 32px;
}
.sidebar .user-data hr {
  margin: 16px;
}

.sidebar button {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  
  border: none;
  background-color: transparent;
  font-size: 16px;

  font-weight: 700;
  color: #F7FBFF;
  /* background-color: #084480; */

  width: 100%;
  padding: 16px;
  gap: 8px;
}

.sidebar .menu-buttons button {
  justify-content: left;
}

.menu-buttons .row a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F7FBFF;
  gap: 8px;
}

.sidebar .btn-logoff {
  color: #ff9432;

}
.sidebar .btn-logoff:hover {
  background-color: #ff9432;
  color: #043565;

}
 .sidebar button:hover {
  background-color: #476988;
  cursor: pointer;
  transition: .4s ease;
  }
.sidebar a{
  text-decoration: none;
}
.cursos {
  padding: 16px;
  text-align: left;
  margin: 8px 0;
}

p.seus-cursos {
  margin-bottom: 8px;
}
.cursos button {
  font-size: 16px;
  border-radius: 8px;
}

/* DASHBOARD */
.dashboard-content {
  margin-left: 20rem;
  padding: 16px;
}

.dashboard-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  width: 100% ;
  margin: 8px 0;
}

.chart-container{
  min-width: 20rem;
  max-width: 70%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding: 24px;
  gap: 8px;
  
  border: 0.5px solid #476988;
  border-radius: 12px;
}

.chart-info{
  display: flex;
  flex-direction: row;
}

.btn-row {
  width: 100%;
  height: 100%;
}
.button {
  width: 100%;
  height: 100%;
  text-decoration: none;
  /* text-align: left; */
}

.button button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;

  width: 100%;

  border: none;
  border-radius: 12px;
  padding: 16px;
  background-color: #043565;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
  
  cursor: pointer;
}
.button button:hover {
  background-color: #476988;
  transition: .6s;
}

.chart-content {
display: flex;
flex-direction: column;
align-items: center;
}
.chart-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart-content h1{
  margin: 8px 0;
}

.chartLegend {
  border-radius: 3px;
  height: 16px;
  width: 16px;
  margin: 0 8px;
  background-color: #BDC3C7;
  /* border: 0.5px solid #043565; */
}
.chartLegendOrange {
  background-color: #FF9432;
  border-radius: 3px;
  height: 16px;
  width: 16px;
  margin: 0 8px;
}
.gap-8 {
  gap: 8px;
}


/* DIALOG MODAL */
dialog::backdrop {
  background-color: rgb(0, 0,0, .5);
}

dialog {
  background-color: white;
  border-radius: 1rem;
  /* border: 1px solid #043565; */
  border: none;
  padding: 32px;
  margin: auto;
  width: 32rem;
}

dialog h2 {
  color: #043565;
  text-align: center;
  min-width: 24rem;
  width: 100%;
  margin-bottom: 16px;
}

.dl-btn {
  border-radius: 8px;
  font-weight: bold;
  padding: 1rem 0;
  border: none;
  color: #fff;
  width: 100%;
}

.close {
  background: #043565;
}

.close:hover {
  background-color: #476988;
}
.w-80{
  width: 80%;
}
.max-w-80{
  max-width: 80%;
}


#registro {
  width: 320px;
}