* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #F7FBFF;
  color: #001D39;
}

body, input, textarea, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.full {
  width: 100%;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  margin: 0 32px;
  gap: 8px;
}

.breadcrumb a {
  color: #043565;
  text-decoration: none;
}

/* FLASH MESSAGES */
.warning {
  background-color: #FF9432;
  color: #F7FBFF;
  font-weight: 600;
  
  margin: 8px 0;
  border-radius: 12px;
  padding: 12px;
}
